<h1>Note Show Page Placeholder</h1>

<h3><%= link_to @note.title, @note.link %></h3>
<%= image_tag @note.image.url(:large) %>
<p><%= @note.description %></p>


<% if user_signed_in? %>
    <%= link_to 'Edit', edit_note_path %> |
    <%= link_to 'Delete', note_path(@note), method: :delete,
        data: { confirm: "Are you sure you want to delete this note?" } %> |
<% end %>

<%= link_to "All Notes", notes_path %>