<!DOCTYPE html>
<html>
<head>
  <title>codeITnotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  
  <header>
    <nav class="navbar">
      <%= link_to 'codeitnotes', notes_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Account Info', edit_user_registration_path %></li>
          <li><%= button_to 'Logout', destroy_user_session_path,
              method: :delete, class: 'btn btn-default' %></li>
        <% else %>
          <li><%= link_to 'sign up', new_user_registration_path %></li>
          <li><%= link_to 'sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>  
  
<%= yield %>

</div>
</body>
</html>
